* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
html {
  font-size: 20px;
}
header {
  padding: 5rem 0px 2rem;
}

.max-width-wrapper {
  min-width: 500px;
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

.intro-chunk {
  max-width: 15rem;
  min-width: min-content;
}
.title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

strong {
  color: #14a070;
}

main {
  background-color: #999;
  border-top: 5px solid #555;
  padding: 5rem 0;
}

section {
  background-color: white;
  border-bottom: 5px solid #555;
}

.indented-heading {
  background-color: #ffc000;
  margin-left: -2rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  max-width: fit-content;
  margin-top: -1.2rem;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}
